* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #333333;
    font-family: 'IBM Plex Mono', monospace;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 10px;
}
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }




.header {
    font-size: 2rem;
    text-align: center;
    padding: 13px;
    color: #B90504;
}

.secHeader {
    font-size: 0.8rem;
    text-align: center;
}

.img2 {
    width: 90%;
    border: 3px solid #990100;
    border-radius: 12px;
    margin: 5%;
}

.button {
    font-size: 1.2em;
    color: #990100;
    background-color: #959595;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 0.2em;
    border: 1px solid #990100;
    margin: 5px;
    margin-top: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color:#990100;
    color:#959595;
}



.statsDiv {
    font-size: 1.2em;
    color: #E8E8E8;

}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.quotes {
    border: 5px dotted #990100;
    border-radius: 12px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.list {
    border: 5px dotted #990100;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
}

.sBar {
    text-align: right;
    padding: 2px;
    padding-right: 20px;
    color: #E8E8E8;
    border-radius: 8px;
    border: 2px solid black;
    
    
}

.container {
    width: 100%;
    background-color: #9b9b9b;
    border-radius: 12px;
    border: 2px solid black;
}

li {
    margin: 10px;
}





.endnote {
    font-size: 0.8em;
    text-align: center;
}