body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #0064F0;
}

img{
    width: 30%;
    height: auto;
}

#bigBox{
    position: absolute;
    background-color: #000000;
    height: 80%;
}

.headder{
    color: #F0E400;
}

.content{
    color: #FF270A;
}